@font-face {
	font-family: familiar;
	src: url(../fonts/Familiar_Pro-Bold.otf);
}

body,
ul, li,
p {
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
}

#content {
	padding: 10px;
}

#header {
	background-color: #fff;
	padding: 10px;
	overflow: hidden;
	border-top: 7px solid  #444;
	border-bottom: 1px solid #666;
	margin-bottom: 10px;
}

#footer {
	background-color: #444;
	color: #fff;
	padding: 10px;
}

#footer p {
	margin-bottom: 0;
}

#breadcrumb {
	margin-bottom: 10px;
}

#breadcrumb p {
	font-size: 0.8em;
}

#logo {
	float: left;
}

#nav {
	float: right;
}

#nav ul {
	overflow: hidden;
}

#nav li {
	float: left;
	list-style: none;
	margin-left: 10px;
}

#nav li a {
	border-radius: 4px;
	background-color: #444;
	color: #fff;
	text-decoration: underline;
	padding: 7px 10px 8px;
	display: block;
	text-transform: uppercase;
	font-size: 0.7em;
	font-family: arial;
	font-weight: bold;
}

#nav li a:hover,
#nav li .active {
	background-color: #000;
	text-decoration: none;
}

h1 {
	color: #333332;
	font-size: 2.2em;
	font-family: familiar, arial;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 15px;
}

p {
	font-family: "freight-text-pro",Georgia;
	margin-bottom: 10px;
}

#articles ul {
	list-style: none;
}

#articles li {
}

#articles li a {
	display: block;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding: 10px;
}

#articles li a:hover {
	background-color: #ccc;
}

#articles li a .title {
	float: left;
}

#articles li a .date {
	float: left;
	margin-right: 20px;
}