body {
	background-color: #f5f5f5;
	font-family: helvetica;
}

.active {
	color: red;
}


#container {
	margin: 0 auto;
	padding: 10px;
}

#header {
	background-color: #fff;
	padding: 10px;
	overflow: hidden;
	border-bottom: 3px solid  #444;
}

#logo {
	float: left;
}

#nav {
	float: right;
}

#nav ul {
	overflow: hidden;
}

#nav li {
	float: left;
	list-style: none;
	margin-left: 10px;
}

h1 {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	color: #333332;
	font-size: 2.2em;
}

p {
	font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
}