#container {
	/*min-width: 280px;*/
}

#logo {
	float: left;
	margin-bottom: 20px;
}

#nav {
	clear: left;
	float: none;
	margin-top: 0;
	border-top: 1px solid #2E3B46;
	padding-top: 15px;
}

#nav li {
	float: none;
	margin-left: 0;
	margin-bottom: 4px;
}
