.mainContent {
	padding-top: $spacing-scale-4;
	max-width: 43.75em;
	padding-bottom: $spacing-scale-4;
	margin: 0 auto;
	display: block;
	@include mq($from: md) {
		padding-top: $spacing-scale-5;
	}
}

.mainContent h1 {
	@include typography(xl);
	max-width: 43.75em;
	margin-left: auto;
	margin-right: auto;
	padding: 0 $spacing-scale-3;
	margin-bottom: $spacing-scale-4;
	color: #222;
}

.mainContent h2 {
	@include typography(l);
	max-width: 43.75em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-scale-1;
	padding: 0 $spacing-scale-3;
	color: #222;
	margin-top: $spacing-scale-4;

	@include mq($from: md) {
		margin-top: $spacing-scale-5;
	}
}

.mainContent h3 {
	@include typography(body);
	max-width: 43.75em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-scale-1;
	padding: 0 $spacing-scale-3;
	color: #222;
	margin-top: $spacing-scale-4;
}

.mainContent p {
	@include typography(body);
	max-width: 43.75em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-scale-4;
	padding: 0 $spacing-scale-3;
	color: #222;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-4;
	}
}

.mainContent ol,
.mainContent ul {
	max-width: 43.75em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-scale-3;
	padding: 0 $spacing-scale-3 $spacing-scale-1;
	color: #222;
}

@media(min-width: 37.5em) {
	.mainContent ol,
	.mainContent ul {
		margin-bottom: $spacing-scale-4;
	}
}

.mainContent ol li,
.mainContent ul li {
	@include typography(body);
	margin-left: $spacing-scale-4;
	margin-bottom: $spacing-scale-1;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-1;
	}
}

.mainContent blockquote {
	font-style: italic;
	max-width: 43.75em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $spacing-scale-4;
	padding: 0 $spacing-scale-3;
	color: #222;
}

.mainContent blockquote cite {
	font-weight: bold;
}

.mainContent p code,
.mainContent ul code,
.mainContent li code {
	font-size: 1.2em;
	color: #0074D9;
}

.mainContent pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	color: #222;
	background-color: #fffee1;
	margin-bottom: $spacing-scale-4;
	padding: $spacing-scale-4;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	max-width: 43.75em;
	margin-left: auto;
	margin-right: auto;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-5;
		font-size: inherit;
	}
}

.mainContent pre code {
	font-size: 1em;
	line-height: $spacing-scale-4;
	@include mq($from: md) {
		font-size: 1.462em;
		line-height: 32/19;
	}
}

.mainContent figure {
	margin-bottom: $spacing-scale-4;
	padding: 0 $spacing-scale-3;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-5;
	}
}

.mainContent figure img {
	margin-bottom: $spacing-scale-1;
	display: block;
}

.mainContent figure figcaption {
	font-size: 0.81em;
	font-style: italic;
	@include mq($from: md) {
		font-size: 1em;
	}
}

.mainContent iframe {
	margin-bottom: $spacing-scale-4;
	@include mq($from: md) {
		margin-bottom: $spacing-scale-5;
	}
}