input {
	-webkit-appearance: none;
	appearance: none;
}

html {
	font-size: 100%;
	font-family: 'Roboto', arial, sans-serif;
}

body {
	border-top: 6px solid $colour-blue;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

kbd {
  padding: 0.0625rem 0.5rem;
  border-radius: 0.125rem;
  border: 1px solid $colour-black;
  box-shadow: 1px 1px 0 currentColor, 1px 1px 0 currentColor;
}

a:link,
a:visited {
	color: $colour-blue;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:active {
	background-color: $colour-blue;
	color: $colour-white;
}