<div id="articleSignUpForm">
	<div id="articleSignUpFormInner">
		<h2 class="heading">Never miss an article again...</h2>
		<p>On average I write an article once a month. I will never spam you. Unsubscribe whenever you want.</p>

		<form action="//github.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post" name="mc-embedded-subscribe-form">

			<div class="field">
				<label for="mce-EMAIL">Your email address</label>
				<input type="email" name="EMAIL" class="email" id="mce-EMAIL" required>

			</div>

			<input style="position: absolute; left: -5000px;" type="text" name="b_b8fb04f39bf86109693e00ba5_2afd6b431e" tabindex="-1" value="">

			<input class="signUpNowButton" type="submit" value="Sign up now" name="subscribe">

		</form>


		<!-- <a class="signUpNowButton" href="/subscribe/">Sign up now</a> -->
	</div>
</div>