<div id="articleSignUpForm">
	<div id="articleSignUpFormInner">
		<h2 class="heading">Never miss an article...</h2>
		<p>I write about once a month. No spam!</p>

	<!-- 	<form action="//github.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post" name="mc-embedded-subscribe-form">
			<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_2afd6b431e" value="">
			<input type="text" name="b_b8fb04f39bf86109693e00ba5_441c045a36" tabindex="-1" value="">

			<div class="field">
				<label for="mce-EMAIL">Your email address</label>
				<input type="email" name="EMAIL" class="email" id="mce-EMAIL" required>
			</div>

		</form> -->

		<form action="//adamsilver.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post">

			<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_441c045a36" value="">

			<!-- new articles -->
			<input type="hidden" value="1" name="group[25985][1]">

			<!-- javascript progressive enhance tips
			<input type="checkbox" value="2" name="group[25985][2]" id="mce-group[25985]-25985-1">
		-->

			<div class="field">
				<label for="mce-EMAIL">Email address</label>
				<input type="email" name="EMAIL" id="mce-EMAIL" class="email" required>
			</div>

			<input class="signUpNowButton" type="submit" value="Sign up now" name="subscribe">

		</form>

	</div>
</div>