<div class="footer">
	<p>&copy; 2016. <a href="/about/">About</a> | <a href="http://www.twitter.com/adambsilver/">Twitter</a> | <a href="http://www.github.com/adamsilver/">Github</a> | <a href="http://uk.linkedin.com/in/adambsilver/">Linkedin</a></p>
	<!-- <ul>
		<li></li>
		<li><a href="http://medium.com/@adamsilver">Medium</a></li>
		<li><a href="http://www.github.com/adamsilver/">Github</a></li>
		<li><a href="http://www.twitter.com/adambsilver/">Twitter</a></li>
		<li><a href="http://uk.linkedin.com/in/adambsilver/">Linkedin</a></li>
	</ul> -->
</div>