<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i" rel="stylesheet"> -->

<!-- build:css /assets/css/main.min.css -->
<link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="all">
<!-- endbuild -->

<!-- build:css /assets/css/ie8.min.css -->
<!--[if IE 8]>
<link rel="stylesheet" href="/assets/css/ie8.css" type="text/css" media="all">
<![endif]-->
<!-- endbuild -->

<!-- build:css /assets/css/ie7.min.css -->
<!--[if IE 7]>
<link rel="stylesheet" href="/assets/css/ie7.css" type="text/css" media="all">
<![endif]-->
<!-- endbuild -->


<!-- build:css /assets/css/ie6.min.css -->
<!--[if IE 6]>
<link rel="stylesheet" href="/assets/css/ie6.css" type="text/css" media="all">
<![endif]-->
<!-- endbuild -->