<div class="newsletterForm">
	<div class="newsletterForm-inner">
		<h2 class="newsletterForm-heading">More good stuff on the way, if you're interested?</h2>
		<p class="newsletterForm-description"><label for="mce-EMAIL">Enter your email and i'll keep you updated.</label></p>

		<form action="//adamsilver.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post">

			<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_441c045a36" value="">

			<!-- new articles -->
			<input type="hidden" value="1" name="group[25985][1]">

			<!-- javascript progressive enhance tips
			<input type="checkbox" value="2" name="group[25985][2]" id="mce-group[25985]-25985-1">
			-->

			<div class="newsletterForm-field">
				<input placeholder="Your email address..." type="email" name="EMAIL" id="mce-EMAIL" class="newsletterForm-email" required>
				<input class="newsletterForm-button" type="submit" value="Sign up now" name="subscribe">
			</div>

		</form>
	</div>
</div>