<div class="signUpForm">
	<p class="signUpForm-description"><label for="mce-EMAIL">Type your email address</label></p>

	<form action="//adamsilver.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post">

		<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_441c045a36" value="">

		<!-- new articles -->
		<input type="hidden" value="1" name="group[25985][1]">

		<div class="signUpForm-field">
			<input type="email" name="EMAIL" id="mce-EMAIL" class="signUpForm-email" required>
			<input class="signUpForm-button" type="submit" value="Next" name="subscribe">
		</div>

	</form>
</div>
<!--
<input type="checkbox" value="1" name="group[25985][1]" id="mce-group[25985]-25985-0">
<label for="mce-group[25985]-25985-0">Newsletter</label>

<input type="checkbox" value="2" name="group[25985][2]" id="mce-group[25985]-25985-1">
<label for="mce-group[25985]-25985-1">Progressively enhanced Javascript tips</label>

<input type="checkbox" value="4" name="group[25985][4]" id="mce-group[25985]-25985-2">
<label for="mce-group[25985]-25985-2">MaintainableCSS announcements</label> -->