<div class="signUpHero {% if include.layout == 'post'%} signUpHero-isArticle {% endif %}">
	<h2 class="signUpHero-heading">Join my newsletter</h2>
	<p class="signUpHero-description">If you want to read about designing inclusive, simple and human experiences on the web, you'll probably love my newsletter.</p>
	<form action="//adamsilver.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post">
		<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_441c045a36" value="">
		<input type="hidden" name="SITE" value="{{site.url}}">
		<input type="hidden" name="LOCATION" value="{{page.url}}">
		<label for="mce-EMAIL" class="signUpHero-label">Your email address</label>
		<input type="email" name="EMAIL" id="mce-EMAIL" class="signUpHero-email" required><input class="signUpHero-button" type="submit" value="Join 1,000+ others" name="subscribe">
	</form>
</div>