<div class="signUpForm">
	<form action="//adamsilver.us9.list-manage.com/subscribe/post?u=b8fb04f39bf86109693e00ba5&amp;id=441c045a36" method="post">
		<input type="hidden" name="b_b8fb04f39bf86109693e00ba5_441c045a36" value="">
		<!-- Group: Site: Adamsilver.io -->
		<input type="hidden" value="1" name="group[27517]">
		<input type="hidden" name="LOCATION" value="{{page.url}}">
		<label for="mce-EMAIL" class="signUpForm-label">Your email address</label>
		<input type="email" name="EMAIL" id="mce-EMAIL" class="signUpForm-email" required>
		<input class="signUpForm-button" type="submit" value="Sign up" name="subscribe">
	</form>
</div>

<!--

<input type="radio" value="1" name="group[27517]" id="mce-group[27517]-27517-0">
<label for="mce-group[27517]-27517-0">adamsilver.io</label>


<input type="hidden" value="2" name="group[27517]">

<input type="radio" value="2" name="group[27517]" id="mce-group[27517]-27517-1">
<label for="mce-group[27517]-27517-1">maintainablecss.com</label>
-->