/**********************************************************
* Fonts
**********************************************************/

/* droid sans */

@font-face {
    font-family: 'droid sans';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid sans';
    src: url('../fonts/DroidSans-Bold-webfont.eot');
    src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* droid serif */

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-webfont.eot');
    src: url('../fonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-Italic-webfont.eot');
    src: url('../fonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Italic-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-BoldItalic-webfont.eot');
    src: url('../fonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-BoldItalic-webfont.svg#droid_serifbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/**********************************************************
* Color Turquoise: #1abc9c / Midnight blue: #2c3e50 / Clouds: #ecf0f1
**********************************************************/

/**********************************************************
* General
**********************************************************/

body,
ul, li,
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'droid serif', helvetica, arial;
	-webkit-font-smoothing: antialiased;
    font-size: 100%;
}

h1 {
    font-size: 2em;
    font-family: 'droid sans';
    margin-top: 0;
    margin-bottom: 0.2em;
    color: #2c3e50;
}

h2 {
    font-family: 'droid sans';
	font-size: 1.6em;
	margin-top: 1em;
	margin-bottom: 1em;
    color: #2c3e50;
}

h3 {
	font-size: 1.2em;
	margin-top: 1em;
    font-family: 'droid sans';
	margin-bottom: 0.5em;
    color: #2c3e50;
}

h4 {
	font-size: 1em;
	margin-top: 1em;
    font-family: 'droid sans';
	margin-bottom: 0.5em;
    color: #2c3e50;
}

p {
    font-size: 1em;
	margin-bottom: 1.5em;
	margin-top: 1em;
	color: #2c3e50;
}

.share {
	border-top: 1px solid #eee;
	padding-top: 30px;
	margin-bottom: 30px;
}

.share p {
	text-align: center;
	font-style: italic;
	font-size: 1.5em;
	margin: 0;
}

dt {
    color: #2c3e50;
}

blockquote {
    margin: 20px 30px;
}

blockquote p {
    font-style: italic;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

 .ui {
    background-color: #ecf0f1;
    padding: 10px;
 }

a:link {
	color: #2c3e50;
	-webkit-transition:color .1s;
    transition: color .1s;
}

a:visited {
    color: #788A9C;
}

a:hover {
	color: #1abc9c;
}

a img {
    border: none;
}

#container {
	margin: 0 auto;
}

#content {
	padding: 0px 20px 30px;
}

#content p {
	line-height: 1.7em;
}

#header {
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 10px;
}

#headerInner {
    padding: 14px 20px;
    overflow: hidden;
}

#header #logo {
    float: left;
}

#header #logo .avatar {
    float: left;
    border-radius: 50%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

@media (max-width: 400px) {
    .avatar {
        display: none;
    }
}

#header h1 {
    font-family: 'droid sans';
    font-size: 0.9em;
    font-weight: normal;
    float: left;
    text-transform: uppercase;
    margin-top: 6px;
}

#header h1 a {
    display: block;
    text-decoration: none;
    color: #2c3e50;
}

#header h1 span {
    position: absolute;
    left: -9999em;
    top: 0;
}

#content ul {
	margin-left: 20px;
}

#content li {
	color: #2c3e50;
}

/**********************************************************
* Navigation
**********************************************************/

#nav {
    float: right;
    margin-top: 6px;
}

#nav ul {
    list-style: none;
    overflow: hidden;
}

#nav ul li {
    float: left;
    margin-left: 20px;
    font-family: 'droid sans';
    font-size: 0.9em;
    text-transform: uppercase;
}

#nav ul li a {
    color: #2c3e50;
    text-decoration: none;
    display: block;
}

#nav ul li a:hover {
    color: #1abc9c;
}

#nav ul li a.active {
    border-bottom: 3px solid #1abc9c;
}

@media(max-width: 340px) {
    #nav ul li {
        margin-left: 10px;
    }
}

/**********************************************************
* Secondary navigation
**********************************************************/

#secondaryNavigation {
    overflow: hidden;
    margin-bottom: 20px;
}

#breadcrumb {
    float: left;
    margin-top: 10px;
    font-family: 'droid sans';
    font-size: 0.9em;
}

#breadcrumb span {
    font-weight: bold;
    color: #2c3e50;
}

.citation:target {
    background: #FFFF00;
    transition: background 1s linear;
}

/**********************************************************
* Footer
**********************************************************/

#footer {
    border-top: 1px solid #ebebeb;
}

#footerInner {
	padding: 20px;
	overflow: hidden;
}

#footer p {
	margin-bottom: 10px;
    margin-top: 0;
	font-size: 0.8em;
    font-family: 'droid sans';
}

#footer .social a {
	display: inline-block;
	margin-right: 5px;
}

#footer a img {
	vertical-align: bottom;
	border: none;
}

/**********************************************************
* Newsletter
**********************************************************/

.newsletterInner {
    padding: 20px;
    overflow: hidden;
}

.newsletter h2 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.newslettter form {
    overflow: hidden;
}

.newsletter .field {
	width: 365px;
	margin: 0 auto;
	overflow: hidden;
}

@media (max-width: 440px) {
	.newsletter .field  {
		width: auto;
	}
}

.newsletter .email {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: inherit;
    width: 215px;
    float: left;
}

@media (max-width: 440px) {
	.newsletter .email {
		float: none;
		margin: 0 auto 10px;
		display: block;
	}
}

.newsletter .submit {
    border: none;
    font-size: 1em;
    background-color: #536271;
    color: #fff;
    padding: 9px 10px 9px;
    font-family: arial;
    width: 120px;
    display: block;
    font-weight: bold;
    font-family: 'droid sans';
    text-transform: uppercase;
	float: left;
}

@media (max-width: 440px) {
	.newsletter .submit {
		float: none;
		margin: 0 auto;
		display: block;
		width: 235px;
	}
}

.newsletter .submit:hover {
	background-color: #253341;
}

/**********************************************************
* Article list
**********************************************************/

#articleList ol {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

#articleList li {
	margin-left: 0;
	margin-bottom: 20px;
}

#articleList .title {
	margin-bottom: 0;
}

.date {
	font-size: 0.8em;
	color: #2c3e50;
	font-style: italic;
	margin: 0;
}

.wordCount {
	font-style: italic;
	font-size: 0.8em;
	color: #2c3e50;
	margin: 0;
}

.read {
	font-size: 1.5em;
}

#pg-home #content {
	padding-top: 15px;
}

.newsletter {
    background-color: #F3F7F8;
}

/**********************************************************
* Post
**********************************************************/

pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 16px;
	background-color: #ecf0f1;
	margin-bottom: 20px;
	padding: 20px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p code {
	font-size: 1.3em;
	background: #ecf0f1;
	border: 1px solid #DBDEDF;
}

#article .title {
	margin-bottom: 0;
}

#article .tagline {
	margin: 0;
	font-style: italic;
	font-weight: normal;
	font-size: 1.2em;
}

#article li {
    line-height: 1.7em;
}

#article .image img {
	display: block;
	margin: 0 auto;
}

@media (min-width: 760px) {

	#content,
	#headerInner,
	#footerInner{
		width: 720px;
		margin: 0 auto;
	}

}