/**********************************************************
* Droid sans
**********************************************************/

@font-face {
    font-family: 'droid sans';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid sans';
    src: url('../fonts/DroidSans-Bold-webfont.eot');
    src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/**********************************************************
* Droid serif
**********************************************************/

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-webfont.eot');
    src: url('../fonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-Italic-webfont.eot');
    src: url('../fonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Italic-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-BoldItalic-webfont.eot');
    src: url('../fonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-BoldItalic-webfont.svg#droid_serifbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/**********************************************************
* General
**********************************************************/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'droid serif', helvetica, arial;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    font-size: 62.5%;
}

h1 {
	font-weight: normal;
}

a:link,
a:visited {
	color: #4A90E2;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:active {
	background-color: #4A90E2;
	color: #fff;
}


/**********************************************************
* Article
**********************************************************/

#article {
	padding-top: 70px;
	max-width: 700px;
	margin: 0 auto 100px;
}

#article h1 {
	margin: 0 20px 40px;
	font-size: 2.5em;
	line-height: 1.2em;
	color: #292929;
}

@media(min-width: 600px) {
	#article h1 {
		font-size: 4.5em;
	}
}

#article h2 {
	margin: 0 20px 10px;
	font-size: 1.8em;
	line-height: 1.2em;
	color: #292929;
}

@media(min-width: 600px) {
	#article h2 {
		font-size: 2.2em;
		margin-bottom: 15px;
	}
}

#article p {
	margin: 0 20px 30px;
	font-size: 1.6em;
	line-height: 1.7em;
	color: #292929;
}

@media(min-width: 600px) {
	#article p {
		font-size: 2em;
		margin-bottom: 45px;
	}
}

#article p code {
	background: #f5f5f5;
	font-size: 1.3em;
}

#article pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 1.9em;
	background-color: #f5f5f5;
	margin-bottom: 30px;
	padding: 20px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media(min-width: 600px) {
	#article pre {
		font-size: 2.6em;
		margin-bottom: 45px;
	}
}

#article blockquote {
	margin: 0 30px 35px;
	font-style: italic;
}

#article blockquote cite {
	color: #4A90E2;
}

#article ol,
#article ul {
	margin: 0 20px 35px 40px;
}

#article ol li,
#article ul li {
	font-size: 2em;
	line-height: 1.7em;
	color: #292929;
}

#article figure {
	margin-bottom: 35px;
}

/**********************************************************
* Sign up form
**********************************************************/

#articleSignUpForm {
	max-width: 700px;
	margin: 0 auto 50px;
}

#articleSignUpForm .heading {
	margin: 0 20px 15px;
	font-size: 1.8em;
	line-height: 1.2em;
	color: #292929;
}

@media(min-width: 600px) {
	#article .heading {
		font-size: 2.2em;
	}
}

#articleSignUpForm .field {
	margin: 0 20px;
}

/*#articleSignUpForm label {
	font-size: 1.6em;
	line-height: 1.7em;
	color: #292929;
	display: block;
	font-family: "droid sans";
	text-transform: uppercase;
}*/

#articleSignUpForm .email {
	font-family: "droid sans";
	font-size: 1.6em;
	width: 100%;
	border: 2px solid #bdbdbd;
	padding: 8px 8px;
	max-width: 400px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

#articleSignUpForm .signUpNowButton {
	font-family: "droid sans";
	font-size: 1.7em;
	padding: 10px 45px;
	display: inline-block;
	background-color: #4A90E2;
	color: #fff;
	border: none;
	width: 100%;
	max-width: 400px;
}

@media(min-width: 550px) {
	#articleSignUpForm .signUpNowButton {
		width: auto;
	}
}

#articleSignUpForm .signUpNowButton:hover {
	background-color: #3B71B1;
}

/**********************************************************
* Page
**********************************************************/

#page {
	padding-top: 70px;
	max-width: 700px;
	margin: 0 auto 100px;
}

#page h1 {
	margin: 0 20px 40px;
	font-size: 2.5em;
	line-height: 1.2em;
	color: #292929;
}

@media(min-width: 600px) {
	#page h1 {
		font-size: 4.5em;
	}
}

#page p {
	margin: 0 20px 30px;
	font-size: 1.6em;
	line-height: 1.7em;
	color: #292929;
}

@media(min-width: 600px) {
	#page p {
		font-size: 2em;
		margin-bottom: 45px;
	}
}

/**********************************************************
* Articles
**********************************************************/

#articleList {
}

#articleList .article {
	margin-bottom: 30px;
}

@media(min-width: 600px) {
	#articleList .article {
		margin-bottom: 45px;
	}
}

#articleList .article .title {
	margin: 0 20px;
	font-size: 1.8em;
	line-height: 1.2em;
	color: #292929;
}

@media(min-width: 600px) {
	#articleList .article .title {
		font-size: 2.2em;
	}
}

#articleList .article .meta {
	margin: 0 20px;
	font-size: 1.4em;
	line-height: 1.7em;
	color: #999;
}

@media(min-width: 600px) {
	#articleList .article .meta {
		font-size: 1.8em;
	}
}

/**********************************************************
* Face
**********************************************************/

.me {
	margin-bottom: 60px;
}

.me .face {
	border-radius: 50%;
    overflow: hidden;
    width: 85px;
    height: 85px;
    display: block;
	vertical-align: middle;
	margin-left: 20px;
	margin-bottom: 30px;
}

.homePageSection h2 {
	margin: 0 20px 10px;
	font-size: 1.8em;
	line-height: 1.2em;
	color: #292929;
}

@media(min-width: 600px) {
	.homePageSection h2 {
		font-size: 2.2em;
		margin-bottom: 15px;
	}
}

/**********************************************************
* Header
**********************************************************/

#logo {
	padding-top: 20px;
	margin-bottom: 10px;
	text-align: center;
}

#logo a {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	font-family: 'droid sans';
}

#nav {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 700px;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
}

#nav ul {
    list-style: none;
    font-size: 1.8em;
    margin-left: 20px;
    margin-right: 20px;
}

#nav ul li {
	display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'droid sans';
    font-size: 0.9em;
}

#nav ul li:first-child {
	margin-left: 0;
}

#nav ul li:last-child {
	margin-right: 0;
}

#nav ul li a:link,
#nav ul li a:visited {
    color: #292929;
    text-decoration: none;
    display: block;
}

#nav ul li a:hover {
    color: #4A90E2;
}

#nav ul li a:active,
#nav ul li a.active:active {
    color: #fff;
}

#nav ul li a.active {
	font-weight: bold;
	color: #4A90E2;
}

/**********************************************************
* Other
**********************************************************/