/**********************************************************
* Fonts
**********************************************************/

/* droid sans */

@font-face {
    font-family: 'droid sans';
    src: url('../fonts/DroidSans-webfont.eot');
    src: url('../fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-webfont.woff') format('woff'),
         url('../fonts/DroidSans-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'droid sans';
    src: url('../fonts/DroidSans-Bold-webfont.eot');
    src: url('../fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* droid serif */

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-webfont.eot');
    src: url('../fonts/DroidSerif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-Bold-webfont.eot');
    src: url('../fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-Italic-webfont.eot');
    src: url('../fonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-Italic-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'droid serif';
    src: url('../fonts/DroidSerif-BoldItalic-webfont.eot');
    src: url('../fonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/DroidSerif-BoldItalic-webfont.svg#droid_serifbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/**********************************************************
* General
**********************************************************/

body,
ul, li,
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'droid serif', helvetica, arial;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    font-size: 100%;
}

#page h1,
#article h1 {
    font-size: 2.2em;
    font-family: 'droid sans';
    margin-top: 0;
    margin-bottom: 0.2em;
    color: #111;
    font-weight: bold;
    letter-spacing: 0.01em;
}

h2 {
    font-family: 'droid sans';
	font-size: 1.6em;
	margin-top: 1em;
	margin-bottom: 0;
    color: #111;
    font-weight: bold;
}

h3 {
	font-size: 1.2em;
	margin-top: 1em;
    font-family: 'droid sans';
	margin-bottom: 0.5em;
    color: #111;
    font-weight: normal;
}

p {
    font-size: 1.1em;
	margin-bottom: 1.5em;
	margin-top: 1em;
	color: #111;
}

iframe {
	width: 90%;
	max-width: 540px;
	margin: 0 auto;
	display: block;
}

blockquote {
    margin: 20px 30px;
}

blockquote p {
    font-style: italic;
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #a1a1a1;
    /*font-family: 'droid sans';*/
}

.ui {
	background-color: #f5f5f5;
	padding: 10px;
}

a:link {
	color: #444;
	-webkit-transition:color .1s;
    transition: color .1s;
}

a:visited {
    color: #444;
}

a:hover {
	color: #4A90E2;
}

a img {
    border: none;
}

#container {
	margin: 0 auto;
}

#content {
	padding: 30px 20px 0;
}

#content p {
	line-height: 1.8em;
}

/**********************************************************
* Header
**********************************************************/

#header {
	border-bottom: 1px solid #ebebeb;
}

#headerInner {
    padding: 14px 20px 8px;
    overflow: hidden;
}

@media (max-width: 500px) {
	#headerInner {
		padding: 14px 0px 0;
	}
}

#logo {
    float: left;
}

@media (max-width: 500px) {
    #logo {
		float: none;
		overflow: hidden;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 8px;
		padding-left: 20px;
		padding-right: 20px;
    }
}

#logo .avatar {
    border-radius: 50%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 10px;
}

#header h1 {
    font-size: 1em;
    font-weight: normal;
    float: left;
    text-transform: uppercase;
    margin-top: 8px;
}

#header h1 a {
    display: block;
    text-decoration: none;
    color: #111;
}

#header h1 span {
	position: absolute;
	left: -999em;
	top: 0;
}

#content ul {
	margin-left: 20px;
}

#content li {
	color: #111;
}

/**********************************************************
* Navigation
**********************************************************/

#nav {
    float: right;
    margin-top: 7px;
}

@media(max-width: 500px) {
	#nav {
		float: none;
		margin-top: 0;
		padding-top: 15px;
		background-color: #fafafa;
		padding-bottom: 15px;
		padding-right: 20px;
	}
}

#nav ul {
    list-style: none;
}

#nav ul li {
	display: inline-block;
    margin-left: 20px;
    font-family: 'droid sans';
    font-size: 0.9em;
    text-transform: uppercase;
}

#nav ul li a {
    color: #111;
    text-decoration: none;
    display: block;
}

#nav ul li a:hover {
    color: #4A90E2;
}

#nav ul li a.active {
    padding: 3px 6px;
    background-color: #4A90E2;
    border-radius: 4px;
    color: #fff;
}

@media(max-width: 500px) {

	#nav ul li {
		margin-left: 10px;
	}

    #nav ul li:first-child {
    	margin-left: 20px;
    }
}

@media(max-width: 300px) {
	#nav ul li {
		display: block;
		margin-bottom: 6px;
		margin-left: 20px;
	}
}

#nav li.contact {
	margin-right: 0;
}

/**********************************************************
* Face
**********************************************************/

.face {
	border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

@media(min-width: 650px) {
	.face {
		float: left;
		margin-top: -10px;
		margin-right: 30px;
	}
}

/**********************************************************
* Breadcrumb
**********************************************************/

#breadcrumb {
    padding-top: 10px;
    font-family: 'droid sans';
    font-size: 0.9em;
    padding-bottom: 20px;
}

#breadcrumb span {
    color: #111;
}

/**********************************************************
* Footer
**********************************************************/

#footer {
    border-top: 1px solid #ebebeb;
}

#footerInner {
	padding: 20px;
	overflow: hidden;
}

#footer p {
	margin-bottom: 10px;
    margin-top: 0;
	font-size: 0.8em;
    font-family: 'droid sans';
}

#footer .social a {
	display: inline-block;
	margin-right: 5px;
}

#footer a img {
	vertical-align: bottom;
	border: none;
}

/**********************************************************
* Forms
**********************************************************/

form {
	margin: 0 auto;
}

.field {
	margin-bottom: 15px;
}

.field label {
	display: block;
	margin-bottom: 10px;
	font-family: 'droid sans';
	color: #111;
	text-transform: uppercase;
	font-size: 0.9em;
}

.field input {
	padding: 10px;
	font-family: 'droid sans';
	box-sizing: border-box;
	width: 100%;
}

.email {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: inherit;
}

.submit {
    border: none;
    font-size: 1em;
    background-color: #536271;
    color: #fff;
    padding: 15px 10px;
    font-family: arial;
    display: block;
    font-family: 'droid sans';
    text-transform: uppercase;
	transition: background-color .2s ease-out;
	box-sizing: border-box;
	width: 100%;
}

.submit:hover {
	background-color: #253341;
}

/**********************************************************
* Article list
**********************************************************/

#articleList ol {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

#articleList li {
	margin-left: 0;
	margin-bottom: 20px;
}

#articleList .title {
	margin-bottom: 0;
}

.date {
	font-size: 0.75em;
	color: #111;
	font-style: italic;
	margin: 0;
}

.divider {
	font-size: 0.7em;
}



/**********************************************************
* Meta, reading time
**********************************************************/

.meta {
	margin: 0;
}

.readingTime {
	font-style: italic;
	font-size: 0.75em;
	color: #111;
	margin: 0;
}

/**********************************************************
* Post
**********************************************************/

pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 16px;
	background-color: #f5f5f5;
	margin-bottom: 20px;
	padding: 20px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

p code {
	font-size: 1.3em;
	background: #f5f5f5;
	border: 1px solid #DBDEDF;
}

#article .title {
	margin-bottom: 0;
}

#article .tagline {
	margin: 0;
	font-style: italic;
	font-weight: normal;
	font-size: 1.2em;
}

#article {
	padding: 30px 20px 0;
}

#article p {
	line-height: 1.8em;
}

#article ol {
	margin: 1em 0 0;
	padding: 0;

}

#article li {
	font-size: 1.1em;
    margin-left: 25px;
    margin-bottom: 1.5em;
    line-height: 1.8em;
    color: #111;
}

#article .image img {
	display: block;
	margin: 0 auto;
}

@media (max-width: 760px) {
	#article .image img {
		max-width: 100%;
	}
}

@media (min-width: 760px) {

	#content,
	.citationsInner,
	#headerInner,
	#footerInner,
	.heroWrapperInner,
	#article,
	.nowReadInner {
		width: 720px;
		margin: 0 auto;
	}

}

/**********************************************************
* Home
**********************************************************/

#pg-home .header {
	margin-bottom: 30px;
	overflow: hidden;
	padding-top: 30px;
}

@media(max-width: 650px) {
	#pg-home .header {
		padding-top: 0;
	}
}

#pg-home .header h1 {
	font-size: 2em;
    font-weight: normal;
    letter-spacing: 0;
}

/**********************************************************
* Newsletter
**********************************************************/

.newsletter {
    background-color: #F3F7F8;
}

/**********************************************************
* Hero header
**********************************************************/

.heroWrapper {
	background-color: #000;
	background-size: cover;
	background-position: center;
}

.backgroundCover {
	background-color: #000;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
}

.heroWrapperInner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 200px;
	padding-bottom: 40px;
}

@media(min-width: 500px) {
	.heroWrapperInner {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 220px;
		padding-bottom: 50px;
	}
}

.heroWrapper h1 {
	font-family: 'droid sans';
	color: #fff;
	font-weight: bold;
	margin: 0;
	font-size: 1.7em;
}

.heroWrapper h2 {
	margin: 0;
	color: #e5e5e5;
	font-size: 1.5em;
}

/**********************************************************
* Share
**********************************************************/

.share {
	padding-top: 30px;
	padding-bottom: 60px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.share p {
	font-size: 1.4em;
	margin: 0;
	color: #A0A0A0;
	font-style: italic;
}


.share .intro {
	margin-bottom: 15px;
}

.share .twitter {
	background: transparent url(/assets/img/twitter.png) no-repeat;
	background-size: 22px 22px;
	background-position: 10px 14px;
	padding-left: 40px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 20px;
	display: inline-block;
	text-decoration: none;
	border-radius: 40px;
	border: 1px solid #ddd;
	font-family: 'droid sans';
	text-transform: uppercase;
	font-size: 0.9em;
	color: #4099FF !important;
}

.share .twitter:hover {
	background-color: #f9f9f9;
}

/**********************************************************
* Citations
**********************************************************/

.citations {
	border-top: 1px dashed #ddd;
	padding-top: 30px;
	padding-bottom: 30px;
}

.citationsInner {
	padding: 20px;
}

.citations .footNotes {
	font-size: 0.8em;
	margin: 0 0 5px;
	font-weight: bold;
}

.citations ol {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.citations li {
	margin-left: 0;
	font-size: 0.8em;
	margin-bottom: 5px;
}

.citations .ref {
	margin-right: 3px;
}

.citation:target {
    background: #FFFF00;
    transition: background 1s linear;
}

/**********************************************************
* Now read
**********************************************************/

.nowRead {
	border-top: 1px solid #ebebeb;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F4F9FF;
}

.nowReadInner {
	padding-left: 20px;
	padding-right: 20px;
}

.nowRead .now {
	text-transform: uppercase;
	font-family: 'droid sans';
	margin-bottom: 0;
	font-weight: bold;
	font-size: 0.8em;
}

.nowRead .articleTitle {
	font-family: 'droid sans';
	font-size: 1.6em;
	margin-bottom: 1em;
    color: #111;
    margin-top: 0;
}

/**********************************************************
* Carbon ads
**********************************************************/

#carbonads {
	float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    line-height: 1.2;
    width: 150px;
    padding-bottom: 10px;
    background-color: #FBFBFB;
    margin-top: 20px;
}

@media(max-width: 500px) {
	#carbonads {
		float: none;
		width: auto;
		height: auto;
		overflow: hidden;
		margin: 30px 0;
		width: 300px;
	}
}

.carbon-wrap {

}

.carbon-img {
	display: block;
	margin: 8px auto 0;
	width: 130px;
	height: 100px;
}

@media(max-width: 500px) {
	.carbon-img {
		float: left;
		margin-left: 8px;
	}
}

.carbon-text {
	color: #545454;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 9px;
    width: 119px;
	text-decoration: none;
}

@media(max-width: 500px) {
	.carbon-text {
		margin-bottom: 10px;
	}
}

.carbon-poweredby {
	color: #999;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 15px;
    padding-top: 5px;
    font-weight: 700;
    text-decoration: none;
}


@media(max-width: 500px) {
	.carbon-poweredby {
		margin-top: 0;
	}
}
