/**********************************************************
* Lato
**********************************************************/

/*@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular.eot');
	src: local('Lato Regular'), local('Lato-Regular'),
		url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Italic.eot');
	src: local('Lato Italic'), local('Lato-Italic'),
		url('../fonts/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato-Italic.woff') format('woff'),
		url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Bold.eot');
	src: local('Lato Bold'), local('Lato-Bold'),
		url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato-Bold.woff') format('woff'),
		url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-BoldItalic.eot');
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
		url('../fonts/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato/Lato-BoldItalic.woff') format('woff'),
		url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}*/

/**********************************************************
* General
**********************************************************/

* {
	margin: 0;
	padding: 0;
}

input {
	-webkit-appearance: none;
	appearance: none;
}

body {
	font-family: 'PT serif', Lato, arial, sans-serif;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    color: #333333;
}

a:link,
a:visited {
	color: #0074D9;
}

a:hover,
a:focus {
	text-decoration: none;
}

a:active {
	background-color: #0074D9;
	color: #fff;
}

hr {
	height: 1px;
	background-color: #eee;
	border: none;
	margin-bottom: 45px;
}

/**********************************************************
* Sans
**********************************************************/

.share-button,
.signUpForm-email,
.signUpForm-button {
	font-family: Lato, arial, sans-serif;
}

.face {
	margin-bottom: 40px;
	border-radius: 50%;
    overflow: hidden;
    width: 85px;
    height: 85px;
    display: block;
	margin-left: 20px;
	border: 10px solid #fafafa;
}

/**********************************************************
* Article
**********************************************************/

.mainContent {
	padding-top: 30px;
	max-width: 700px;
	padding-bottom: 20px;
	margin: 0 auto 0px;
}

@media(min-width: 600px) {
	.mainContent {
		padding-top: 40px;
	}
}

.mainContent h1 {
	margin: 0 20px 15px;
	font-size: 3.1em;
	line-height: 1.25em;
	font-family: 'Open sans';
	letter-spacing: -0.01em;
}

@media(min-width: 600px) {
	.mainContent h1 {
		font-size: 3.8em;
	}
}

.mainContent h2 {
	margin: 0 20px 10px;
	font-size: 2.3em;
	line-height: 1.5;
	letter-spacing: -0.01em;
	font-family: 'Open sans';
}

@media(min-width: 600px) {
	.mainContent h2 {
		font-size: 2.9em;
		margin-bottom: 5px;
		line-height: 1.5;
	}
}

.mainContent h3 {
	margin: 0 20px 10px;
	font-size: 1.6em;
	line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	font-family: 'Open sans';
}

@media(min-width: 600px) {
	.mainContent h3 {
		font-size: 1.9em;
	}
}

.mainContent p {
	margin: 0 20px 20px;
	font-size: 1.7em;
	line-height: 1.8;
}

@media(min-width: 600px) {
	.mainContent p {
		font-size: 1.9em;
		margin-bottom: 25px;
	}
}

.mainContent p code {
	background: #fafafa;
	font-size: 1.3em;
}

.mainContent pre {
	font-family: Monaco,'Courier New','Courier',monospace;
	font-size: 1.9em;
	background-color: #fafafa;
	margin-bottom: 20px;
	padding: 20px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@media(min-width: 600px) {
	.mainContent pre {
		font-size: 2.6em;
		margin-bottom: 30px;
	}
}

.mainContent blockquote {
	margin: 0 20px 35px;
	font-style: italic;
	border-left: 4px solid #333;
}

.mainContent blockquote p {
	font-size: 1.6em;
}

@media(min-width: 600px) {
	.mainContent blockquote p {
		font-size: 1.9em;
	}
}

.mainContent blockquote cite {
	font-weight: bold;
}

.mainContent ol,
.mainContent ul {
	margin: 0 20px 30px 50px;
}

@media(min-width: 600px) {
	.mainContent ol,
	.mainContent ul {
		margin-bottom: 45px;
		margin-right: 60px;
	}
}

.mainContent ol li,
.mainContent ul li {
	font-size: 1.6em;
	line-height: 1.8;
}

@media(min-width: 600px) {
	.mainContent ol li,
	.mainContent ul li {
		font-size: 1.9em;
	}
}

.mainContent figure {
	margin-bottom: 30px;
}

@media(min-width: 600px) {
	.mainContent figure {
		margin-bottom: 45px;
	}
}

.mainContent figure img {
	margin-bottom: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mainContent figure figcaption {
	font-size: 1.3em;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

@media(min-width: 600px) {
	.mainContent figure figcaption {
		font-size: 1.5em;
	}
}

.mainContent iframe {
	margin-bottom: 30px;
}

@media(min-width: 600px) {
	.mainContent iframe {
		margin-bottom: 45px;
	}
}

/**********************************************************
* Newsletter form
**********************************************************/

.signUpHero {
	padding-bottom: 20px;
	margin: 0 auto;
	max-width: 660px;
	padding-left: 20px;
	padding-right: 20px;
}

.signUpHero-isArticle {
	background-color: #fafafa;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.signUpHero-heading {
	margin-bottom: 10px;
	font-size: 1.8em;
	line-height: 1.5;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #0074D9;
	font-family: 'Open sans';
}

@media(min-width: 600px) {
	.signUpHero-heading {
		font-size: 2.1em;
		margin-bottom: 5px;
	}
}

.signUpHero-description {
	margin-bottom: 25px;
	font-size: 1.6em;
	line-height: 1.8;
}

@media(min-width: 600px) {
	.signUpHero-description {
		font-size: 1.9em;
	}
}

.signUpHero a {
	color: #fff;
}

/**********************************************************
* Articles
**********************************************************/

.articleList {
	padding-top: 30px;
	max-width: 700px;
	margin: 0 auto 0px;
}

@media(min-width: 600px) {
	.articleList {
		padding-top: 40px;
	}
}

.articleList h1 {
	margin: 0 20px 35px;
	font-size: 3.1em;
	line-height: 1.25em;
}

@media(min-width: 600px) {
	.articleList h1 {
		font-size: 3.8em;
	}
}

.articleList-article {
	margin-bottom: 30px;
}

@media(min-width: 600px) {
	.articleList-article {
		margin-bottom: 45px;
	}
}

.mainContent .articleList-articleTitle {
	max-width: 400px;
	margin: 0 20px;
	font-size: 1.8em;
	line-height: 1.5;
	letter-spacing: 0.03em;
}

@media(min-width: 600px) {
	.mainContent .articleList-articleTitle {
		font-size: 2.2em;
	}
}

.articleList a:active {
    color: #fff;
    background-color: #0074D9;
}

.articleList-articleTitle a:active {
    background-color: #0074D9;
}

/**********************************************************
* Meta
**********************************************************/

.mainContent .meta {
	margin: 0 20px;
	font-size: 1.3em;
	line-height: 1.7em;
	letter-spacing: 0.02em;
}

@media(min-width: 600px) {
	.mainContent .meta {
		font-size: 1.6em;
	}
}

/**********************************************************
* Header
**********************************************************/

.nav {
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #fafafa;
}

.nav ul {
	max-width: 660px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav ul li {
	display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 1.7em;
    margin-bottom: 10px;
    font-family: 'Open sans';
}

.nav ul li:first-child {
	margin-left: 0;
}

.nav ul li:last-child {
	margin-right: 0;
}

.nav ul li a:link,
.nav ul li a:visited {
    text-decoration: none;
    display: block;
    color: #333;
}

.nav ul li a:hover {
    color: #0074D9;
}

.nav ul li a:active,
.nav ul li a.nav-active:active {
    color: #fff;
    background-color: #0074D9;
}

.nav ul li a.nav-active {
	font-weight: bold;
	color: #0074D9;
}

/**********************************************************
* Footer
**********************************************************/

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fafafa;
}

.footer p {
	font-size: 1.7em;
	max-width: 660px;
	margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.footer a {
	display: inline-block;
	margin-right: 7px;
	margin-left: 7px;
}

/**********************************************************
* Now read
**********************************************************/

.nowRead {
	max-width: 660px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding-left: 30px;
	padding-right: 30px;
}

.nowRead:before {
	content: '...';
	font-size: 1.6em;
	margin-bottom: 15px;
	display: block;
	letter-spacing: 0.3em;
}

.nowRead p {
	font-size: 1.6em;
	line-height: 1.8;
}

@media(min-width: 600px) {
	.nowRead p {
		font-size: 1.9em;
		margin-bottom: 45px;
	}
}

/**********************************************************
* share
**********************************************************/

.share {
	max-width: 660px;
	margin: 0 auto 30px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

@media(min-width: 600px) {
	.share {
		margin-bottom: 40px;
	}
}

.share-button:link,
.share-button:visited {
	border-radius: 30px;
	text-transform: uppercase;
	padding: 17px 30px;
	font-size: 1.3em;
	border: 1px solid #0074D9;
	font-weight: bold;
	letter-spacing: 0.04em;
	color: #0074D9;
}

.share-button:hover {
	background-color: #0074D9;
	color: #fff;
}

.share p {
	margin: 0 20px 30px;
	font-size: 1.7em;
	line-height: 1.7em;
}

@media(min-width: 600px) {
	.share p {
		font-size: 2.1em;
		margin-bottom: 45px;
	}
}

/**********************************************************
* Newsletter form
**********************************************************/

.signUpForm {
	max-width: 660px;
	margin: 0 auto 40px;
	padding: 0 20px;
}

@media(min-width: 800px) {
	.signUpForm {
		margin: 0 auto 40px;
	}
}

.signUpForm-heading {
	margin-bottom: 10px;
	font-size: 2.3em;
	line-height: 1.5;
	letter-spacing: 0.01em;
}

@media(min-width: 600px) {
	.signUpForm-heading {
		font-size: 2.9em;
		margin-bottom: 5px;
		line-height: 1.5;
	}
}

.signUpForm-description {
	font-size: 1.6em;
	line-height: 1.8;
	margin-bottom: 25px;
	display: block;
}

@media(min-width: 600px) {
	.signUpForm-description {
		font-size: 1.9em;
	}
}

.signUpForm-label,
.signUpHero-label {
	font-size: 1.6em;
	line-height: 1.8;
	margin-bottom: 5px;
	display: block;
}

@media(min-width: 600px) {
	.signUpForm-label,
	.signUpHero-label {
		font-size: 1.9em;
	}
}

.signUpForm-email,
.signUpHero-email {
	font-size: 1.6em;
	width: 100%;
	padding: 10px 10px;
	margin-right: 5px;
	margin-bottom: 15px;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #333;
	max-width: 288px;
	display: inline-block;
}

.signUpForm-email:focus,
.signUpHero-email:focus {
	outline: 3px solid #0074D9;
	border: 1px solid #0074D9;
}

.signUpForm-button,
.signUpHero-button {
	font-size: 1.5em;
	padding: 12px 22px;
	display: block;
	background-color: #0074D9;
	color: #fff;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.03em;
	border-radius: 2px;
	display: inline-block;
	font-family: 'Open sans';
}

.signUpForm-button:hover,
.signUpHero-button:hover {
	background-color: #0267BF;
}