<!DOCTYPE HTML>
<html dir="ltr" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">

		<meta name="viewport" content="initial-scale=1.0">

		<meta name="Author" content="Adam Silver">

		<meta name="description" content="Adam Silver site">

		<title>{{ site.name }} - {{ page.title }}</title>

		<link rel="stylesheet" href="/css/main.css" type="text/css" media="all">
		<!--[if IE 6]><link rel="stylesheet" href="/css/ie6.css" type="text/css" media="all"><![endif]-->

		<link href="favicon.ico" media="all" rel="shortcut icon">
	</head>
	<body>
		<div id="container">

			<div id="header">
				<div id="headerInner">
					<div id="logo">
						<a href="/">Adam Silver</a>
						<p class="tagLine">Front-end web developer</p>
					</div>
					{% include navigation.html %}
					<!--<div id="nav">
						{% for p in site.pages %}
							<a href="{{ p.url }}">{{ p.title }}</a>
						{% endfor %}
					</div>-->
				</div>
			</div>

			<div id="content">
				<div id="page_{{page.id}}">
					{{ content }}
				</div>
			</div>

			<div id="footer">
				<p>&copy; 2014 Adam Silver</p>
			</div>

		</div>
	</body>
</html>
