<!DOCTYPE HTML>
<html dir="ltr" lang="en">
	<head>
        <title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.name }}</title>
        {% include head.html %}
	</head>
	<body id="pg-home" class="page">
		<div id="container">
            {% include header.html %}
            <div class="header">
				<div class="headerInner">
					<div class="face">
						<img src="/assets/img/avatar2.jpg" alt="Adam Photo" width="100" height="100">
					</div>
					<h1 class="title">Hello, my name is Adam. I’m a UX driven front-end developer based in London.</h1>
				</div>
			</div>
			<div id="content">
				{{ content }}
			</div>
            {% include footer.html %}
		</div>
	</body>
</html>
