<!DOCTYPE HTML>
<html dir="ltr" lang="en">
	<head>
        <title>{% if page.title %}{{ page.title }} | {% endif %} {{ site.name }}</title>
        {% include head.html %}
	</head>
	<body id="pg-home" class="page">
		<div id="container">
            {% include header.html %}
            <div class="header">
				<div class="headerInner">
					<div class="face">
						<img src="/assets/img/adam2.jpg" alt="Adam Photo" width="85" height="85">
					</div>
					<h1 class="title">Hello, my name is Adam. I can help you design and build human-friendly websites</h1>
				</div>
			</div>
			<div id="content">
				{{ content }}
			</div>
		</div>
	</body>
</html>
