<!DOCTYPE HTML>
<html dir="ltr" lang="en">
	<head>
	    <title>{{ page.title }} | {{ site.name }}</title>
	    {% include head.html %}
	</head>
	<body>
	    <div id="container">
	        {% include header.html %}
	        <div id="article">
				<h1 class="title">{{ page.title }}</h1>
	            <!-- <p class="share"><a class="share" href="https://twitter.com/share?source=tweetbutton&text=&quot;{{page.title}}&quot;&via=adambsilver&url={{site.url}}{{page.url}}&hashtags={% for cat in page.categories limit:3 %}{% if forloop.last != true %}{{cat}},{%else%}{{cat}}{% endif %}{% endfor %}">Share on Twitter</a></p> -->

	           	{{ content }}
	        </div>
			{% include articleSignUpForm.html %}
			{% include footer.html %}
	    </div>
	</body>
</html>