<!DOCTYPE HTML>
<html dir="ltr" lang="en">
<head>
    <title>{{ page.title }} - {{ site.name }}</title>
    {% include head.html %}
</head>
<body>
    <div id="container">
        {% include header.html %}
        <div id="content">
            <div id="secondaryNavigation">
                <div id="breadcrumb">
                    <a href="/">Home</a> >
                    <a href="/articles/">Articles</a> >
                    <span>{{ page.title }}</span>
                </div>
            </div>

            <div id="article">

                <h1>{{ page.title }}</h1>
                <!-- <p class="meta">
                    <span class="date">{{ page.date | date: "%-d %B %Y"  }}</span>,
                    <span class="wordCount">{{ page.content | number_of_words }} words</span>
                </p> -->
                {{ content }}

                <p class="share"><a href="https://twitter.com/share?source=tweetbutton&text={{page.title}}&via=adambsilver&url={{site.url}}{{page.url}}&hashtags=frontend,{{page.categories[0]}}">Share this article on Twitter</a></p>

            </div>

            {% include newsletterForm.html %}
        </div>
        {% include footer.html %}
    </div>
</body>
</html>